<div>
    <script type="text/javascript">
      document.write(
        "<iframe scrolling='no' frameborder='0' style='height: 212px; width: 100%;' " + 
        "sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' " + 
        "src='https://button.like.co/in/embed/405417048/button?referrer=" +
        encodeURIComponent(location.href.split("?")[0].split("#")[0]) + "'></iframe>");
    </script>
</div>